<h1>Sobre mí</h1>
<p class="aligncenter hovered">Introducción</p>
<p>Hola! 👋 Álvaro, estudiante de cuarto año de ingeniería en la Facultad de Telecomunicaciones de la Universidad Politécnica de Cartagena.</p>
<p>A lo largo de la carrera he probado diferentes tecnologías y lenguajes de programación que me han hecho crecer como ingeniero. Empecé a programar antes de la carrera, usando un lenguaje que está sobre Java similar a processing llamado <strong>iJava</strong>, desarrollado por la um, resolviendo retos de algoritmos y estructuras de datos. </p>
<p>En 2021, mi primer año de carrera, fue el primer momento que instalé <strong>Linux</strong>, usando <strong>Ubuntu</strong> como cualquier persona que se inicia en cualquier sistema Unix. Con el tiempo, fui adaptando mi experiencia de usuario tocando cada parte del sistema y optimizando funciones, se puede comprobar mi configuración actual en mi <strong><u><a href="" hx-get="/api/projects" hx-target="#container">workflow de Linux</a></u> </p> </strong>

<br>

<p class="aligncenter hovered">Tecnologías que uso</p>
<p>He usado muchas tecnologías a lo largo de los años, contribuyendo al <strong>Open Source</strong> pero de las más destacadas y que uso son: </p>

<div class="tech-container" defer>
  <div class="tech-item">
    <img src="/assets/tech/rust.svg" alt="Rust" />
    <span>Rust</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/python.svg" alt="Python" />
    <span>Python</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/typescript.svg" alt="typescript" />
    <span>JavaScript</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/linux.svg" alt="Linux" />
    <span>Linux</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/docker.svg" alt="Docker" />
    <span>Docker</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/git.svg" alt="Git" />
    <span>Git</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/vim.svg" alt="Vim" />
    <span>Vim</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/bash.svg" alt="Bash" />
    <span>Bash</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/sql.svg" alt="sql" />
    <span>SQL</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/java.svg" alt="Java" />
    <span>Java</span>
  </div>
</div>