<!DOCTYPE html>
<html lang="en">
<head>
    <title>varo6.me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css" type="text/css" />
    <script src="assets/htmx.min.js" defer></script>
</head>
<body>
    <br>
    <br>
    <div id="wrap">
        <div id="sidebar">
            <h1><a href="/" title="title">{{title}}</a></h1>
           <span class="description">
           Hecho con <a href="https://htmx.org" target="_blank">htmx</a> y 
           <a href="https://github.com/tokio-rs/axum" target="_blank">Rust</a>, desde la conexión TCP hasta el renderizado ⚡
            </span>
            <p>&nbsp;</p>
            <nav>
                <h2>Páginas</h2>
                <ul>
                    <li><a hx-get="/api/about" hx-target="#container" href="" >SOBRE MÍ</a></li>
                    <li><a href="" hx-get="/api/projects" hx-target="#container">PROYECTOS</a></li>
                    <li><a href="" hx-get="/api/workflow" hx-target="#container">WORKFLOW</a></li>
                </ul>
            </nav>

            <!--  SEPARACION LINKS -->
            <div class="widget blogroll">
                <h2>Links</h2>
                <ul>
                    <li><a href="">L</a></li>
                </ul>
            </div>
             
            <!--  SEPARACION SOCIAL -->
            <div class="widget social">
                <h2>Social</h2>
                <ul>
                    <li> <a href="https://www.linkedin.com/in/alvaro-hernandez-ingeniero-programacion/">LinkedIn</a><img src="/assets/linkedin.svg" alt="LinkedIn" width="16" height="16"></li>
                    <li> <a href="https://github.com/varo6">Github</a><img src="/assets/github.svg" alt="github" width="16" height="16"> </li>
                    <li><a href="mailto:alvaro.hriquelme@edu.upct.es">Mi correo </a> <img src="/assets/email.svg" alt="email" width="16" height="16"></li>
                </ul>
            </div>
           

            <div class="widget blogroll">
                <h2>Data</h2>
                <ul>
                    <li><a href="">sitemap</a></li>
                    <li><a href="" rel="alternate">atom feed</a></li>
                    mensaje1 
                    <li><a href="" rel="alternate">rss feed</a></li>
                    mensaje2 
                </ul>
                Times visited so far:
                 {{sum}}
            </div>
        </div>

        <div id="container">
            <div hx-get="/api/about" hx-trigger="load" hx-target="#container"></div>
        </div>

        <div id="footer">
            <div id="credits">
                <span>{{add_info}}</span>
            </div>
        </div>
    </div>
</body>
</html>
