<!DOCTYPE html>
<html lang="en">
<head>
    <title>varo6.me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css" type="text/css" />
    <script src="assets/htmx.min.js" defer></script>
</head>
<body>
    <br>
    <br>
    <div id="wrap">
        <div id="sidebar">
            <h1><a href="/" title="title">{{title}}</a></h1>
           <span class="description">
           Hecho con <a href="https://htmx.org" target="_blank">htmx</a> y 
           <a href="https://github.com/tokio-rs/axum" target="_blank">Rust</a>, desde la conexión TCP hasta el renderizado ⚡
            </span>
            <p>&nbsp;</p>
            <nav>
                <h2>Páginas</h2>
                <ul>
                    <li><a hx-get="/api/about" hx-target="#container" href="" >ABOUT</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="" hx-get="/api/projects" hx-target="#container">PROYECTOS</a></li>
                </ul>
            </nav>

            <!--  SEPARACION LINKS -->
            <div class="widget blogroll">
                <h2>Links</h2>
                <ul>
                    <li><a href="">L</a></li>
                </ul>
            </div>
             
            <!--  SEPARACION SOCIAL -->
            <div class="widget social">
                <h2>Social</h2>
                <ul>
                    <li>(icon)<a href="">SOCIAL 1</a></li>
                    <li>(icon)<a href="">SOCIAL 2</a></li>
                    <li>(icon)<a href="">SOCIAL 3</a></li>
                    <li>(icon)<a href="">SOCIAL 4</a></li>
                    endkjal 
                </ul>
            </div>
            probandoo	
            {{sum}}

            <div class="widget blogroll">
                <h2>Data</h2>
                <ul>
                    <li><a href="">sitemap</a></li>
                    <li><a href="" rel="alternate">atom feed</a></li>
                    mensaje1 
                    <li><a href="" rel="alternate">rss feed</a></li>
                    mensaje2 
                </ul>
            </div>
        </div>

        <div id="container">
            <h1>prueba</h1>

            {{add_info}}

            <div class="entry">
                aaaaa
            </div>
        </div>

        <div id="footer">
            <div id="credits">
                <span></span>
            </div>
        </div>
    </div>
</body>
</html>