<!DOCTYPE html>
<html lang="en">
<head>
    <title>varo6.me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/main.css" type="text/css" />
</head>
<body>
    <br>
    <br>
    <div id="wrap">
        <div id="sidebar">
        <h1><a href="/" title="title">{{title}}</a></h1>
            <span class="description">Hola! 👋 Soy Álvaro, estudiante en el cuarto año de ingeniería telemática.
                Esta web está hecha con Rust y HTMX.
            </span>
            <p>&nbsp;</p>
            <nav>
                <h2>Pages</h2>
                <ul>
                    <li>hola</li>
                    <li><a href="">TITULO DE PAGINA</a></li>
                </ul>
            </nav>

            <!--  SEPARACION LINKS -->
            <div class="widget blogroll">
                <h2>Links</h2>
                <ul>
                    <li><a href="">AHSDASDHL</a></li>
                </ul>
            </div>
             
            <!--  SEPARACION SOCIAL -->
            <div class="widget social">
                <h2>Social</h2>
                <ul>
                    <li>(icon)<a href="">SOCIAL 1</a></li>
                    <li>(icon)<a href="">SOCIAL 2</a></li>
                    <li>(icon)<a href="">SOCIAL 3</a></li>
                    <li>(icon)<a href="">SOCIAL 4</a></li>
                    endkjal 
                </ul>
            </div>
            probandoo	
        {{sum}}

            <div class="widget blogroll">
                <h2>Data</h2>
                <ul>
                    <li><a href="">sitemap</a></li>
                    <li><a href="" rel="alternate">atom feed</a></li>
                    mensaje1 
                    <li><a href="" rel="alternate">rss feed</a></li>
                    mensaje2 
                </ul>
            </div>
        </div>

        <div id="container">
            <h1>prueba</h1>

            {{add_info}}

            <div class="entry">
                Esta es una web
           </div>
        </div>

        <div id="footer">
            <div id="credits">
                <span></span>
            </div>
        </div>
    </div>
</body>
</html>
