<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/output.css" defer>
    <title>varo's website</title>
    <script src="assets/htmx.min.js" defer></script>
</head>
<body class="bg-gray-400 flex items-center justify-center min-h-screen p-4">
    <div class="grid grid-cols-1 md:grid-cols-5 grid-rows-auto md:grid-rows-5 gap-4 bg-gray-800 rounded-lg shadow-xl max-w-6xl w-full p-8 min-h-[40rem] text-gray-200 font-mono">

        <div class="md:row-span-2 md:col-start-1 md:row-start-3 row-start-1 flex justify-center items-center">
            <div class="w-32 h-32 md:w-48 md:h-48 overflow-hidden rounded-full border-4 border-black"><p>imagen<p></div>
        </div>

        <div class="col-span-full md:col-start-2 md:col-span-3 row-start-2 md:row-start-1 flex items-center justify-center">
          <h1 class="text-2xl font-semibold">{{title}}</h1>
        </div>


        <div class="md:col-span-3 md:row-span-4 md:col-start-2 md:row-start-2 row-start-3 col-span-full flex flex-col justify-center text-center">
            <p class="text-2xs md:text-md mb-1 text-left">{{desc}}</p>
            <p class="text-xs md:text-sm">{{add_info}}</p>
        </div>

        <div class="md:row-span-4 md:col-start-5 md:row-start-1 row-start-5 col-span-full flex flex-col justify-center items-center space-y-2">
            <a
                href="https://twitter.com"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-gray-300 transition-colors text-sm"
            >
                Twitter
            </a>
            <a
                href="https://linkedin.com"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-gray-300 transition-colors text-sm"
            >
                LinkedIn
            </a>
            <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-gray-300 transition-colors text-sm"
            >
                GitHub
            </a>
            <div class="text-xs">Visitors: <b> {{sum}} </b></div>
        </div>
    </div>
</body>
</html>
