<h1>Sobre mí</h1>
<p class="aligncenter hovered">Introducción</p>
<p>Hola! 👋 Soy Álvaro, estudiante de cuarto año de ingeniería en la Facultad de Telecomunicaciones de la Universidad Politécnica de Cartagena.</p>
<p>A lo largo de mis estudios he probado diferentes tecnologías y lenguajes de programación que me han hecho crecer como ingeniero, y sigo aprendiendo cada día</p>
<p>En mi primer año de carrera, fue el primer momento que instalé <strong>Linux</strong>, usando <strong>Ubuntu</strong> como cualquier persona que se inicia en cualquier sistema Unix. Con el tiempo, fui adaptando mi experiencia de usuario tocando cada parte del sistema y optimizando funciones, se puede comprobar mi configuración actual en mi <strong><u><a href="" hx-get="/api/workflow" hx-target="#container">workflow de Linux</a></u> </p> </strong>
<p>También he aprendido de ciberseguridad, necesaria para avanzar en el mundo de <strong>Unix</strong> y la gestión de red, al igual que he participado en varios eventos como <strong>Hackathones u Olimpiadas de programación</strong> desde 2022. </p>

<br>

<p class="aligncenter hovered">Tecnologías que uso</p>
<p>He usado diversas tecnologías a lo largo de los años, contribuyendo al <strong>Open Source</strong>, pero las más destacadas y que más he trabajado son: </p>

<div class="tech-container" defer>
  <div class="tech-item">
    <img src="/assets/tech/rust.svg" alt="Rust" />
    <span>Rust</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/python.svg" alt="Python" />
    <span>Python</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/typescript.svg" alt="typescript" />
    <span>TypeScript</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/linux.svg" alt="Linux" />
    <span>Linux</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/docker.svg" alt="Docker" />
    <span>Docker</span>
  </div>
  <div class="tech-item">
    <img src="/assets/tech/git.svg" alt="Git" />
    <span>Git</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/vim.svg" alt="Vim" />
    <span>Vim</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/bash.svg" alt="Bash" />
    <span>Bash</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/sql.svg" alt="sql" />
    <span>SQL</span>
  </div>
 <div class="tech-item">
    <img src="/assets/tech/java.svg" alt="Java" />
    <span>Java</span>
  </div>
</div>

¡Aunque siempre estoy abierto a aprender nuevas tecnologías! 🚀
