<h1> Proyectos </h1>
  <p class="aligncenter hovered">Introducción</p>
  <p>En esta sección iré subiendo los proyectos que tenga. No están todos por el momento, pero la idea es poder mostrar bastantes para ver las tecnologías que he usado y lo que se
    puede formar con esta. La mayoría están subidos a GitHub, donde llevo un control de versiones para cada uno.</p>
<br>

  <p class="aligncenter hovered">Proyectos</p>

<a href="https://github.com/varo6/quickconvolution" class="project-link">
<div class="project-container">
  <div class="project-info">
    <h3>QuickConvolution</h3>
    <p class="project-date">Junio 2024</p>
    <p class="project-description">QuickConvolution es un paquete de Python hecho con señales predefinidas para interactuar mediante convoluciones entre sí. (Webui en pruebas)</p>
  </div>
  <div class="project-image">
    <img src="/assets/images/quickconv.webp" alt="quickconv">
  </div>
</div>
</a>

<a href="https://github.com/varo6/varo6.me" class="project-link">
<div class="project-container">
  <div class="project-info">
    <h3>Servidor web HTTP con enrutador desde Rust</h3>
    <p class="project-date">Febrero 2025</p>
    <p class="project-description">Web hecha en Rust desde conexiones TCP hasta enrutamiento de endpoints con HTML. API Rest para los endpoints</p>
  </div>
  <div class="project-image">
    <img src="/assets/images/varo6.webp" alt="varo6" defer>
  </div>
</div>
</a>

<a href="https://github.com/varo6/microprocessor-PIC16F-assembly" class="project-link">
<div class="project-container">
  <div class="project-info">
    <h3>Programación en Microchip PIC16F</h3>
    <p class="project-date">Mayo 2023</p>
    <p class="project-description">Proceso de trabajo con placas PIC16F, con ejercicios usando distintos pines de la placa y una aplicación real a ésta.</p>
  </div>
  <div class="project-image">
    <img src="/assets/images/microchip.webp" alt="hola" defer>
  </div>
</div>

<a href = "https://github.com/varo6/dotfiles" class="project-link">
<div class="project-container">
  <div class="project-info">
    <h3>Dotfiles</h3>
    <p class="project-date">Junio 2022</p>
    <p class="project-description">Mis archivos de configuración de i3wm, neovim, lf, zsh, y más. Todo en un solo repositorio para poder tener mi entorno de trabajo en cualquier máquina.</p>
  </div>
  <div class="project-image">
    <img src="/assets/images/terminal.webp" alt="terminal" defer>
  </div>
</div>
</a>
