<h1>workflow</h1>
<p class="aligncenter hovered">Introducción</p>
<p>Linux es la herramienta tecnológica que más he disfrutado a lo largo de la carrera. Desde que instalé ubuntu, he pasado por muchos programas y scripts hasta llegar al punto en el que estoy, y como todo usuario, sigo mejorando mi <strong>Ricing</strong>!</p>

<p class="aligncenter hovered">La importancia de los keybindings</p>

<p>Los keybindings son una parte fundamental de este tipo de herramientas. En lugar de usar el ratón, se optimiza el teclado de forma que nunca haga falta levantar ambas manos de este. Esto permite ser más veloz y eficiente en el trabajo. </p>

<p> También es importante tener un buen sistema de ventanas, para poder tener varias ventanas abiertas y poder cambiar entre ellas de forma rápida, en mi caso uso <strong>i3wm</strong> ya que es estable y confiable, la tengo configurada desde hace tiempo. Existen opciones modernas como <strong>Qtile o Hyprland.</strong>  </p>

<p>Mi inicio de i3 se verá vacío, sin programas, a la espera de la ejecución de comandos:</p>

<img src="/assets/images/i3wm.webp" alt="i3wm" class="workflowimg">

<p>Una vez puedes gestionar las ventanas a tu gusto, con teclas, donde se hacen <strong>resizes automáticos</strong> o aislar contenedores, se puede usar lo más importante, la <strong>terminal</strong></p>

<p>En mi caso estoy usando <strong>Ghostty</strong>, pero <strong>wezterm y kitty</strong> son buenas alternativas. Con este estilo de trabajo, se intenta usar en la terminal todo lo que antes requería de interfaz gráfica. Seguramente no siempre sea más rápido, pero nunca será más lento que usar el ratón.</p>

<p> Cabe destacar que hay alternativas a <strong>cualquier programa</strong> en la terminal. Por lo que solo hay que buscar su repositorio de github y empezar a configurarlo! </p> 

<p> Aquí se puede ver una captura de mi entorno de trabajo, con neovim como editor de código, un <strong>file manager</strong> en la terminal llamado lf, y una ventana de terminal conectada a mi servidor por ssh para ejecutar comandos.</p>

<img src="/assets/images/terminal.webp" alt="terminal" class="workflowimg">

<p>¡Se pueden hacer infinidad de cosas! Los archivos de configuración de estos programas se suelen llamar <strong>dotfiles</strong>, los míos están en el apartado de <u><a href="" hx-get="/api/projects" hx-target="#container" hx-push-url="/projects">proyectos</a></p> </u>

